@using BAFactory.Fx.Security.Areas.Membership.Extensions;
@model BAFactory.Fx.Security.MembershipProvider.User

@{
    ViewBag.Title = "Detalles";
}

@Html.Partial("~/Areas/Membership/Views/Controls/ContentTitle.cshtml")
<fieldset>
    <legend>Acción</legend>
    <table width="100%">
        <tr>
            <td>
                <div class="display-label">
                    Usuario</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Nombre</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FullName)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    email</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.email)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<br />
    @Html.Partial("~/Areas/Membership/Views/Controls/EditActionLink.cshtml")
    | @Html.Partial("~/Areas/Membership/Views/Controls/BackToIndexActionLink.cshtml")

