<td class="ActionLinkCell">
    @Html.ActionLink("Editar", "Edit", new { id = @ViewData["Id"] }) |
    @Html.ActionLink("Detalle", "Details", new { id = @ViewData["Id"] }) |
    @Html.ActionLink("Borrar", "Delete", new { id = @ViewData["Id"] })
</td>
