@using BAFactory.Fx.Security.Areas.Membership.Extensions;
@model BAFactory.Fx.Security.MembershipProvider.Action
@{
    ViewBag.Title = "Detalles";
}
@Html.Partial("~/Areas/Membership/Views/Controls/ContentTitle.cshtml")
<fieldset>
    <legend>Acción</legend>
    <table width="100%">
        <tr>
            <td>
                <div class="display-label">
                    Módulo</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Module.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Nombre</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Descripción</div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<br />
    @Html.Partial("~/Areas/Membership/Views/Controls/EditActionLink.cshtml")
    | @Html.Partial("~/Areas/Membership/Views/Controls/BackToIndexActionLink.cshtml")
